:root{
--headerheight: 2.8em;

}

*{
margin: 0;
padding: 0;
font-family: font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}

body{
background-color: #e3dfed;
}

.container{
background-color: #b4adc7;
margin-bottom: 1em;
}
.header{

padding: 4px;
display: flex;
align-items: center;
}

}
img{
width: 80%;
}

.logo{

height: var(--headerheight);
width: var(--headerheight);
object-fit: contain;
}

nav{
flex: 1;
text-align: right;
}

nav ul li {
list-style: none;
display: inline-block;
margin-left: 25px;
}

.intro, .projects{
width: 80%;

margin: 0 auto;
text-align: center;
}

h1, h2{
margin-bottom: 1em;
}
.intro p{
margin-bottom: 1em;

.procontainer {
margin-bottom: 1em;
background-color: blue;
height: 10px;

}